.page-header{
	    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
	font-size: 40px;
}

.row{
	display: inherit;
	width: 100%;
}

.col-md-6{
	width : 50%;
}

.well{
	background-image: none;
    border-color: #B2B2B2;
    border-top: 22px solid #009543;
    background-color: #ececec;
}

p{
	margin-left: 20px;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: 300;
    font-style: inherit;
    font-size: 1em;
    font-family: inherit;
    vertical-align: baseline;
	
}